<div class="panel panel-default">
  <div class="panel-body">
    <form class="task-form" ng-submit="addTask()">
      <div class="input-group">
        <input type="text" class="form-control" id="title" ng-model="newTask.title" required>

                <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                  <span class="glyphicon glyphicon-plus"/>
                </button>
                  </span>
      </div>
      <div class="input-group">
        <ui-select  ng-model="newTask.owner">
          <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.username}}
          </ui-select-match>
          <ui-select-choices repeat="user in users | filter: $select.search">
            <div ng-bind-html="user.username"></div>
          </ui-select-choices>
        </ui-select>
            <span class="input-group-btn">
              <button class="btn btn-danger" type="reset" ng-click="resetTitle()">
                <span class="glyphicon glyphicon-remove"/>
              </button>
            </span>
      </div>
    </form>
  </div>
  <table class="table table-hover table-condensed">
    <thead>
    <th class="col-sm-1">Done</th>
    <th class="col-sm-3">Title</th>
    <th class="col-sm-3">Member</th>
    <th class="col-sm-3">Owner</th>
    <th class="col-sm-2"></th>
    </thead>
    <tbody>
    <tr ng-class="{'success': task.completed, 'danger' : !task.completed}" task-entry ng-repeat="task in tasks"
        task="task" users="users"></tr>
    </tbody>
  </table>
</div>

